.slider {
    position: relative;
    min-width: 320px;
    width: 100%;   
}

.slider-textblock {
    position: absolute;
    left: calc(50% - 221px);
    top: 30%;
    line-height: 70px;    
    color: white;
    width: 400px;
    padding: 20px;
    font-weight: 300;
    border: 2px solid white;
    font-size: 50px;
    z-index: 2;   
}

.slider-tel {
    display: block;   
    color: white;    
    transition: 0.3s;
    font-weight: 500;

    &:hover,
    &:active,
    &:focus {
       font-size: 58px;
    }
}

.slider-item {
    height: 700px;
    width: 100%;
    background: url(../img/slider/1.jpg);
    background-size: cover;   

    &:nth-of-type(2) {
        background: url(../img/slider/2.jpg);
        background-size: cover;
        background-position-y: 60%;        
    }

    &:nth-of-type(3) {
        background: url(../img/slider/3.jpg);
        background-size: cover;
        background-position-y: 25%;
    }

    &:nth-of-type(4) {
        background: url(../img/slider/4.jpg);
        background-size: cover;
    }

    &:last-of-type {
        background: url(../img/slider/5.jpg);
        background-size: cover;
        background-position-y: 60%;
    }
}
